In [1]:
import numpy as np
import pandas as pd

In [2]:
pop2014 = pd.Series([100,99.3,95.5,93.5,92.4,84.8,84.5,78.9,74.3,72.8], 
                    index =['Java','C','Cpp','Python','C#','PHP','Javascript', 'Ruby','R','Mathlab'])

In [3]:
pop2015 = pd.Series({'Java':100,'C':99.9,'Cpp':99.4,'Python':96.5,'C#':91.3,
                     'R':84.8,'PHP':84.5,'Javascript':83.0,'Ruby':76.2,'Mathlab':72.4})

In [5]:
twoyears = pd.DataFrame({'2014':pop2014,'2015':pop2015})

In [7]:
twoyears

             2014   2015
C            99.3   99.9
C#           92.4   91.3
Cpp          95.5   99.4
Java        100.0  100.0
Javascript   84.5   83.0
Mathlab      72.8   72.4
PHP          84.8   84.5
Python       93.5   96.5
R            74.3   84.8
Ruby         78.9   76.2

In [9]:
twoyears = twoyears.sort_values('2015',ascending = False)

In [10]:
twoyears

             2014   2015
Java        100.0  100.0
C            99.3   99.9
Cpp          95.5   99.4
Python       93.5   96.5
C#           92.4   91.3
R            74.3   84.8
PHP          84.8   84.5
Javascript   84.5   83.0
Ruby         78.9   76.2
Mathlab      72.8   72.4

In [11]:
twoyears.values

array([[100. , 100. ],
       [ 99.3,  99.9],
       [ 95.5,  99.4],
       [ 93.5,  96.5],
       [ 92.4,  91.3],
       [ 74.3,  84.8],
       [ 84.8,  84.5],
       [ 84.5,  83. ],
       [ 78.9,  76.2],
       [ 72.8,  72.4]])

In [12]:
twoyears.index

Index(['Java', 'C', 'Cpp', 'Python', 'C#', 'R', 'PHP', 'Javascript', 'Ruby',
       'Mathlab'],
      dtype='object')

In [13]:
twoyears['2015']

Java          100.0
C              99.9
Cpp            99.4
Python         96.5
C#             91.3
R              84.8
PHP            84.5
Javascript     83.0
Ruby           76.2
Mathlab        72.4
Name: 2015, dtype: float64

In [14]:
twoyears.iloc[0:2]

       2014   2015
Java  100.0  100.0
C      99.3   99.9

In [17]:
twoyears.loc['C':'Python']

        2014  2015
C       99.3  99.9
Cpp     95.5  99.4
Python  93.5  96.5

In [18]:
twoyears['avg'] = 0.5* (twoyears['2015'] + twoyears['2014'])

In [19]:
twoyears

             2014   2015     avg
Java        100.0  100.0  100.00
C            99.3   99.9   99.60
Cpp          95.5   99.4   97.45
Python       93.5   96.5   95.00
C#           92.4   91.3   91.85
R            74.3   84.8   79.55
PHP          84.8   84.5   84.65
Javascript   84.5   83.0   83.75
Ruby         78.9   76.2   77.55
Mathlab      72.8   72.4   72.60

In [29]:
presidents = pd.DataFrame([{'name':'Barack Obama','inauguration':2009,'birthyear':1961},
                         {'name':'Geoge W Bush','inauguration':2001,'birthyear':1946},
                         {'name':'Bill Clinton','inauguration':1993,'birthyear':1946},
                         {'name':'George H Bush','inauguration':1989,'birthyear':1924}])

In [30]:
presidents

   birthyear  inauguration           name
0       1961          2009   Barack Obama
1       1946          2001   Geoge W Bush
2       1946          1993   Bill Clinton
3       1924          1989  George H Bush

In [31]:
presidents_indexes = presidents.set_index('name')

In [32]:
presidents_indexes

               birthyear  inauguration
name
Barack Obama        1961          2009
Geoge W Bush        1946          2001
Bill Clinton        1946          1993
George H Bush       1924          1989

In [33]:
presidents_indexes.loc['Bill Clinton']

birthyear       1946
inauguration    1993
Name: Bill Clinton, dtype: int64

In [34]:
presidents_indexes.loc['Bill Clinton']['inauguration']

1993

In [35]:
presidents_indexes['inauguration']['Bill Clinton']

1993

In [38]:
presidents_fathers = pd.DataFrame([{'son':'Barack Obama','father':'Barack Obama Sr.'},
                                  {'son':'Geoge W Bush','father':'H W Bush'},
                                  {'son':'George H Bush','father':'Prescott Bush'}])

In [39]:
pd.merge(presidents,presidents_fathers, left_on='name',right_on='son')

   birthyear  inauguration           name            father            son
0       1961          2009   Barack Obama  Barack Obama Sr.   Barack Obama
1       1946          2001   Geoge W Bush          H W Bush   Geoge W Bush
2       1924          1989  George H Bush     Prescott Bush  George H Bush

In [40]:
pd.merge(presidents,presidents_fathers, left_on='name',right_on='son').drop('son',axis=1)

   birthyear  inauguration           name            father
0       1961          2009   Barack Obama  Barack Obama Sr.
1       1946          2001   Geoge W Bush          H W Bush
2       1924          1989  George H Bush     Prescott Bush

In [41]:
pd.merge(presidents,presidents_fathers, left_on='name',right_on='son',how='left').drop('son',axis=1)

   birthyear  inauguration           name            father
0       1961          2009   Barack Obama  Barack Obama Sr.
1       1946          2001   Geoge W Bush          H W Bush
2       1946          1993   Bill Clinton               NaN
3       1924          1989  George H Bush     Prescott Bush